{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}

{% if content %}
	{% if region|clean_class == 'footer' %}
		<div class="uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>
	{% elseif region|clean_class == 'footer-bottom' %}
		<div class="uk-flex uk-flex-between">
	{% elseif region|clean_class == 'navbar-center' %}
	{% else %}
		<div{{ attributes.addClass(classes) }}>
	{% endif %}  
	    {{ content }}
	 {% if region|clean_class != 'navbar-center' %}
  </div>
{% endif %}
{% endif %}
