.updates,
.topwidget,
.top-message,
.footer,
.bottom-widget,
.path-frontpage .main-content,
.services,
.products,
.features,
.copyright,
.clients{
	padding: 20px 0;
}

.main-content{
	padding: 0 0 50px 0;
}

.top-message,
.services{
	text-align: center;
}

// Front Page
.path-frontpage .feed-icon{
	display: none;
}

.updates{
	padding: 60px 10px;

	.region{
		padding: 10px 20px;
    	background: #fff;
	}
}

.features{
	background-color: #fff2e0;
	background: url('../images/bg-features.jpg');
	background-size: cover;
}

.footer{
	tbody tr:hover, tbody tr:focus {
	    background: none;
	}
}

.clients{
	background: #eee;

	.region{
		ul {
			li{
				display: inline-block;
				width: 100%;
				text-align: center;

				img{
					max-width: 200px;
				}
			}
		}
	}
}

// Testimonials
.testimonials-wrap{
	background: #fafafa;
	border-top: solid 1px #e3e3e3;
	border-bottom: solid 1px #e3e3e3;
	padding: 20px 0;
	text-align: center;
	font-size: 1em;
	line-height: 160%;
}

.region-testimonials{
	max-width: 600px;
	margin: 0 auto;
}

.testimonials-pic{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}

.testimonials-pic img{
	@include border-radius(50%);
}

.testimonials-author{
	padding: 0 5px;
	font-size: .75em;
	color: #555;
}

// Price
.price-table{
	.card-header{
		border: 0;
    	padding: 20px 0;
	}
	ul li {
	    list-style: none;
	    border-bottom: 1px solid #eee;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
}

// Team
.team{
	.team-list{
		.region{
			background: #efefef;
			overflow: hidden;
			padding: 10px;
			border: 1px solid #eaeaea;
		}
	}
}

// Bottom Widgets
.bottom-widget{
	background: #ff5e14;
	text-align: center;

	h2.title, *{
	  color: #fff;
	}

}
