.container{width:80%;}body{font-family:'Roboto',sans-serif !important;}#block-views-block-header-block-1{background-color:#f8f9fa;}.views-field-title span a{font-size:48px !important;color:#212529 !important;}.views-field-field-header{position:relative;}.views-field-title{position:absolute;margin-left:10px;margin-top:20px;}@media (min-width:768px){.paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--75-25 .paragraph--type--bp-columns-two-uneven__2col-column1{float:left !important;width:50% !important;}}.paragraph--id--13{margin-top:50px}
