.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.bef-exposed-form .form--inline .form-item{float:none;}.bef-exposed-form .form--inline > .form-item{float:left;}.bef-exposed-form .form--inline .bef--secondary{clear:left;}
.shs-field-container{margin-bottom:.25rem;}.shs-widget-container{display:inline-block;}.shs-widget-container .has-children{background:url(/modules/contrib/shs/images/arrow.png) no-repeat scroll right center transparent;margin-right:5px;}.shs-addnew-container{margin-top:.5rem;}
