.shs-field-container{margin-bottom:.25rem;}.shs-widget-container{display:inline-block;}.shs-widget-container .has-children{background:url(/modules/contrib/shs/images/arrow.png) no-repeat scroll right center transparent;margin-right:5px;}.shs-addnew-container{margin-top:.5rem;}
