.container{
    width: 80%;
}
body{
    font-family: 'Roboto', sans-serif !important;
}
#block-views-block-header-block-1, .paragraph--id--35{
    background-color: #f8f9fa;
}
.views-field-title span a{
    font-size: 48px !important;
    color: #212529 !important;
    

}
.views-field-field-header{
    position: relative;
}
.views-field-title {
    position:absolute;
    margin-left: 10px;
    margin-top: 20px;
}
@media (min-width: 768px){
.paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--75-25 .paragraph--type--bp-columns-two-uneven__2col-column1 {
    float: left !important;
    width: 50% !important;
}
}

.field--type-text-long{
    margin-top:50px
}

.field--name-bp-image-field{
    width: 150%;
}
.image-responsive{
    max-width: none !important;
}

.views-field-field-info .field--type-text-long h2{
    text-align: center;
    color: white;
}
.views-field-field-info, .get{
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}

.icerik{
    position: absolute;
    top: 30%;
    z-index: 11111111;
    margin-left: 4%;
}

.img{
    position: relative;
}

.img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.download{
    border-radius: 20px;
    /* padding: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30%;
    border: 1px solid white;
}
.download a{
    text-align: center;
    padding: 30px;
    /* border-radius: 30% !important; */
    color: white;
}
.icerik h2{
    color: white;
}

.siyah{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}
.images-left img{
    left: 0;
    position: absolute;
}
.images-right img{
    right: 0;
    position: absolute;
}
.baslik h2{
    text-align: center;
    color:white;
    padding-top: 10px;
}
.get{
    height: 100px;
}
