{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
    {# Navbar #}
    {% if page.navigation or page.top_navigation %}
      {% block navbar %}
        {%
          set navbar_classes = [
            'navbar',
            theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
            theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
          ]
        %}
        <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
          {% if not navbar_attributes.hasClass(container) %}
            <div class="{{ container }}">
          {% endif %}
          <div class="navbar-header">
            {# .btn-navbar is used as the toggle for collapsed navbar content #}
            {% if page.navigation %}
              <button type="button" class="toggle-btn"  data-toggle="collapse" data-target="#off-canvas">
                  <div class="toggle-btn--bars">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </div>
                  <span class="toggle-btn--name hidden-xs">{{ 'Menu'|t }}</span>
              </button>
            {% endif %}
          </div>
    
          {# Navigation (collapsible) #}
          {% if page.top_navigation %}
              {{ page.top_navigation }}
          {% endif %}
          {% if not navbar_attributes.hasClass(container) %}
            </div>
          {% endif %}
        </header>
      {% endblock %}
    {% endif %}
    
    {# Main #}
    {% block main %}
      <div role="main" class="main-container js-quickedit-main-content">
          {# Off canvas side navigation #}
          {% if page.navigation %}
            <div id="off-canvas" class="side-flyout collapse left">
              {{ page.navigation }}
            </div>
          {% endif %}
    
          {# Header #}
          {% if page.header %}
            {% block header %}
                {{ page.header }}
            {% endblock %}
          {% endif %}
    
    
        <div class="container">


  
    
        <div class="row">
          {# Highlighted #}
          {% if page.highlighted %}
            {% block highlighted %}
              <div class="highlighted">{{ page.highlighted }}</div>
              {% endblock %}
          {% endif %}
    
          {# Breadcrumbs #}
          {% if breadcrumb %}
            {% block breadcrumb %}
              {{ breadcrumb }}
            {% endblock %}
          {% endif %}

          
          

          <div class="row">
    
            {# Sidebar First #}
            {% if page.sidebar_first %}
              {% block sidebar_first %}
                <aside class="col-3" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
              {% endblock %}
            {% endif %}
    
            {# Content #}
            {%
            set content_classes = [
            page.sidebar_first and page.sidebar_second ? 'col-sm-6',
            page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
            page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9'
            ]
            %}
          </div>
              <div class="row">
                <div class="col-12">
                  <div class="slider-container">
                    <div class="slider-control left inactive"></div>
                    <div class="slider-control right"></div>
                    <ul class="slider-pagi"></ul>
                    <div class="slider">
                      <div class="slide slide-0 active">
                        <div class="slide__bg"></div>
                        <div class="slide__content">
                          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                          </svg>
                          <div class="slide__text">
                            <h2 class="slide__text-heading">Project name 1</h2>
                            <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                            <a class="slide__text-link">Project link</a>
                          </div>
                        </div>
                      </div>
                      <div class="slide slide-1 ">
                        <div class="slide__bg"></div>
                        <div class="slide__content">
                          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                          </svg>
                          <div class="slide__text">
                            <h2 class="slide__text-heading">Project name 2</h2>
                            <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                            <a class="slide__text-link">Project link</a>
                          </div>
                        </div>
                      </div>
                      <div class="slide slide-2">
                        <div class="slide__bg"></div>
                        <div class="slide__content">
                          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                          </svg>
                          <div class="slide__text">
                            <h2 class="slide__text-heading">Project name 3</h2>
                            <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                            <a class="slide__text-link">Project link</a>
                          </div>
                        </div>
                      </div>
                      <div class="slide slide-3">
                        <div class="slide__bg"></div>
                        <div class="slide__content">
                          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                          </svg>
                          <div class="slide__text">
                            <h2 class="slide__text-heading">Project name 4</h2>
                            <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                            <a class="slide__text-link">Project link</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
            <section{{ content_attributes.addClass(content_classes) }}>
    
              {# Action Links #}
              {% if action_links %}
                {% block action_links %}
                  <ul class="action-links">{{ action_links }}</ul>
                {% endblock %}
              {% endif %}
    
              {# Help #}
              {% if page.help %}
                {% block help %}
                  {{ page.help }}
                {% endblock %}
              {% endif %}
    
              {# Content #}
              {% block content %}
                <a id="main-content"></a>
                <div class="col-12">
                  
                  {{ page.content }}
                </div>
              {% endblock %}
            </section>
    
            {# Sidebar Second #}
            {% if page.sidebar_second %}
              {% block sidebar_second %}
                <aside class="col-sm-3" role="complementary">
                  {{ page.sidebar_second }}
                </aside>
              {% endblock %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
    {% if page.footer %}
      {% block footer %}
        <footer class="footer" role="contentinfo">
          {{ page.footer }}
        </footer>
      {% endblock %}
    {% endif %}
    